body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  /* 背景圖片設定 */
  background-image: url("bg.png"); 
   background-size: cover;       /* 讓圖片填滿整個畫面 */
  background-position: center;  /* 置中顯示 */
  background-attachment: fixed; /* 捲動時背景不動 */

}
h1 {
  margin-bottom: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 20px;
  justify-content: center;
  margin: 0 auto;
}
.card {
  background-color: #967a50;
  color: transparent;
  width: 100px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  user-select: none;
}
.card.flipped {
  background-color: white;
  color: black;
}
#message {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}
